<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>E@sy AppNews</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="divConteudo">
        <div id="divTopo">
            <div>
                <img src="~/Images/LogoEsquerdo.png" alt="" />
                <img id="imgTopoBtnDireito" src="~/Images/TopoBtnDireito.png" alt="" />
            </div>
        </div>
        <div id="divMeio">
            <div>
                <img src="http://viatrolebus.com.br/wp-content/uploads/2014/12/o-PROTESTO-MPL-facebook.jpg" alt="" />
                <div class="TituloImagem">
                    <span>Pesquisa mostra que 50% temem violência em manifestações.</span>
                </div>
            </div>
            <div class="BlocoImg02">
                <div>
                    <img src="http://s2.glbimg.com/FB9pArygt71tHl07eB1rKBGtejQ=/620x465/s.glbimg.com/jo/g1/f/original/2013/06/16/protestos_turquia.jpg" alt="" />
                </div>
                <div>
                    <img src="http://www.oguiadacidade.com.br/portal/media/feedgator/images/educacao/terra/monthly/2013/06/52_1_manifestante.jpg" alt="" />
                </div>
            </div>
            <div>
                <img src="http://www.feemjesus.com.br/sites/default/files/Manifesta%C3%A7%C3%A3o-em-SP-fe-em-jesus.jpg" alt="" />
            </div>
            <div>
                <img src="http://fw.atarde.uol.com.br/2013/06/650x375_1333477.jpg" alt="" />
            </div>
        </div>
        <div id="divRodape" class="BackAzul">
            <span>RODAPÉ</span>
        </div>
    </div>
</body>
</html>
